@model IEnumerable<InternetShop.BLL.Models.UIModels.CategoryVM>

@{
    ViewBag.Title = "Categories";
}

@if (TempData["message"] != null)
{
    <div class="Message alert-info rounded">@TempData["message"]</div>
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                @if (Request.IsAuthenticated && User.IsInRole("AppManager"))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryId)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                @if (Request.IsAuthenticated && User.IsInRole("AppManager"))
                {
                    <th>Action</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (Request.IsAuthenticated && User.IsInRole("AppManager"))
                    {
                        <td>
                            @item.CategoryId
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    @if (Request.IsAuthenticated && User.IsInRole("AppManager"))
                    {
                        <td>
                            @Ajax.ActionLink("Edit", "EditCategory", new { catId = item.CategoryId }, new AjaxOptions { UpdateTargetId = "categoryModalDialog" }, new { @class = "btn btn-sm btn-warning m-1", data_toggle = "modal", data_target = "#categoryModal" })
                            @Ajax.ActionLink("Delete", "DeleteCategory", new { catId = item.CategoryId }, new AjaxOptions { UpdateTargetId = "categoryModalDialog" }, new { @class = "btn btn-sm btn-danger m-1", data_toggle = "modal", data_target = "#categoryModal" })
                        </td>
                    }
                </tr>
            }
        </tbody>

    </table>
</div>
