@model InternetShop.Domain.Entities.Manufacturer

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete <b>@Model.ManufacturerName</b> ?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <hr />
        <div class="modal-body justify-content-center">
            <form>
                @Html.HiddenFor(model => model.ManufacturerId)
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ManufacturerName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ManufacturerName)
                    </dd>
                </dl>
            </form>
        </div>
        <div class="modal-footer">
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary m-1" />
                <button type="button" class="btn btn-secondary m-1" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
}