@model IEnumerable<InternetShop.Domain.Entities.Good>

@{
    ViewBag.Title = "Goods";
}

@if (TempData["message"] != null)
{
    <div class="Message alert-info rounded">@TempData["message"]</div>
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GoodName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manufacturer.ManufacturerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GoodCount)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GoodName)
                    </td>
                    @if (item.Photos.Count > 0)
                    {
                        ///Files/Download?fn=
                        int photoid = new Random().Next(1, item.Photos.Count);
                        string fPath = Path.GetFileName(item.Photos.ToList()[photoid - 1].PhotoPath);
                        <td>
                            <a href="~/Upload/@fPath" target="_blank"><img src="~/Upload/@fPath" alt="@fPath" width="80" /></a>
                        </td>
                    }
                    else
                    {
                        <td>
                            No Photos
                        </td>
                    }

                    @if (item.CategoryId > 0)
                    {
                        <td data-toggle="tooltip" data-placement="top" title="Id = @item.ManufacturerId">
                            @Html.ActionLink(@item.Category.CategoryName, "Goods", "Admin", new { category = item.Category.CategoryName, manufacturer = (string)null, page = 1 }, new { @class = "nav-item" })
                        </td>
                    }
                    else
                    {
                        <td>No Category</td>
                    }
                    @if (item.ManufacturerId > 0)
                    {
                        <td data-toggle="tooltip" data-placement="top" title="Id = @item.ManufacturerId">
                            @Html.ActionLink(@item.Manufacturer.ManufacturerName, "Goods", "Admin", new { category = (string)null, manufacturer = item.Manufacturer.ManufacturerName, page = 1 }, new { @class = "nav-item" })
                        </td>

                    }
                    else
                    {
                        <td>No Manufacturer</td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GoodCount)
                    </td>
                    <td>
                        @Ajax.ActionLink("Edit", "EditGood", new { goodId = item.GoodId }, new AjaxOptions { UpdateTargetId = "goodModalDialog" }, new { @class = "btn btn-sm btn-warning m-1", data_toggle = "modal", data_target = "#goodModal" })
                        @Ajax.ActionLink("Delete", "DeleteGood", new { goodId = item.GoodId }, new AjaxOptions { UpdateTargetId = "goodModalDialog" }, new { @class = "btn btn-sm btn-danger m-1", data_toggle = "modal", data_target = "#goodModal" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
