@model IEnumerable<CoreShop.Domain.Entities.User>

@{
    ViewData["Title"] = "User";
}

<div class="text-center Message alert-info rounded">@TempData["Message"]</div>

@Html.ActionLink("Create new","CreateNew","User",new {},new {@class="btn btn-large btn-info m-2"})

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Login</td>
                    <td>@item.Name</td>
                    <td>@item.Lastname</td>
                    <td>@item.Role</td>
                    <td>
                        @Html.ActionLink("Edit","Edit","User",new {id=item.Id},new {@class="btn btn-large btn-warning"})
                        @using (Html.BeginForm("Remove", "User", new { id = item.Id }, FormMethod.Post, false, new
                            {
                                @class = "d-inline"
                            }))
                        {
                            <input type="submit" value="Remove" class="btn btn-large btn-danger d-inline">
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>