@using InternetShop.Domain.Entities
@model IEnumerable<Good>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Category</th>
                <th>Price</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var g in Model)
            {
                <tr>
                    <td>@g.GoodId</td>
                    <td>@g.GoodName</td>
                    @if (g.ManufacturerId > 0)
                    {
                        <td data-toggle="tooltip" data-placement="top" title="Id = @g.ManufacturerId">
                            @Html.ActionLink(@g.Manufacturer.ManufacturerName, "List", "Good", new { category = (string)null, manufacturer = g.Manufacturer.ManufacturerName, page = 1 }, new { @class = "nav-item" })
                        </td>

                    }
                    else
                    {
                        <td>Unknown Manufacturer</td>
                    }
                    @if (g.CategoryId > 0)
                    {
                        <td data-toggle="tooltip" data-placement="top" title="Id = @g.ManufacturerId">
                            @Html.ActionLink(@g.Category.CategoryName, "List", "Good", new { category = g.Category.CategoryName, manufacturer = (string)null, page = 1 }, new { @class = "nav-link" })
                        </td>

                    }
                    else
                    {
                        <td>Unknown category</td>
                    }
                    <td>@g.Price</td>
                    <td>@g.GoodCount</td>
                </tr>

            }
        </tbody>
    </table>
</div>