@model IEnumerable<CoreShop.Domain.Entities.Manufacturer>

@{
    ViewData["Title"] = "Manufacturer";
}

<div class="text-center Message alert-info rounded">@TempData["Message"]</div>

@Html.ActionLink("Create new","CreateNew","Manufacturer",new {},new {@class="btn btn-large btn-info m-2"})

<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ManufacturerId</td>
                <td>@item.ManufacturerName</td>
                <td>
                    @Html.ActionLink("Edit","Edit","Manufacturer",new {id=item.ManufacturerId},new {@class="btn btn-large btn-warning"})
                    @using (Html.BeginForm("Remove","Manufacturer",new {id=item.ManufacturerId},FormMethod.Post,false,new { @class="d-inline"})){
                        <input type="submit" value="Remove" class="btn btn-large btn-danger d-inline">
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

</div>     