<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="pb-0 mt-0">
    <!--_NAV_-->
    <div class="navContainer bg-dark py-0 mt-0">
        <nav class="container-xl navbar navbar-expand-xl navbar-light py-0">
            @Html.ActionLink("Internet Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand mx-auto font-weight-bolder ml-xl-0 text-light" })
            <button class="navbar-toggler collapsed bg-secondary" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-md-center text-sm-center" id="navbarCollapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link text-light" })</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tables
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("Goods", "Goods", "Admin", new { area = "" }, new { @class = "nav-link text-dark" })
                            @Html.ActionLink("Categories", "Categories", "Admin", new { area = "" }, new { @class = "nav-link text-dark" })
                            @Html.ActionLink("Manufacturers", "Manufacturers", "Admin", new { area = "" }, new { @class = "nav-link text-dark" })
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--_NAV_END_-->
    <div id="privatCourseContainer" class="float-right text-dark m-0 pt-1 text-left font-weight-light">
    </div>
    <div class="container body-content py-2">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("/Scripts/privatCourse.js")
    @RenderSection("scripts", required: false)
</body>
</html>
